/* .footer {
   
} */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8em;
}

.policies {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1.2em 0;
}

.policies p {
    text-align: center;
    font-size: 0.8em;
    opacity: 0.6;
    padding-right: 2em;
    padding-left: 1em;
}

.social-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-icons,
.youtube {
    color: white;
    font-size: 1.6em;
    margin-right: 0.8em;
    opacity: 0.6;
}

.youtube {
    opacity: 1;
    z-index: 1;
}

.copyright {
    font-size: 0.8em;
    opacity: 0.6;
}