.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 4em;
}

h1 {
    font-weight: 700;
    font-size: 2.3em;
}

p,
h1 {
    text-align: center;
    line-height: 1.5;
    color: #fff;
}

.homepage-showcase {
    font-size: 0.73em;
    padding: 1.5em 0;
}

.homepage-showcase span {
    opacity: 0.7;
}

.counter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counter-container div {
    background-color: #fff;
    padding: 10px 15px;
    margin-right: 0.4em;
    border-radius: 4px;
}

.counter-container div:nth-of-type(1) {
    padding: 10px 21px;
}

.counter-container div:nth-of-type(2) {
    padding: 10px 19px;
}

.counter-container p {
    color: #000000;
    text-align: center;
}

.counter-container p:nth-of-type(1) {
    font-size: 1.5em;
    font-weight: 600;
}

.counter-container p:nth-of-type(2) {
    font-size: 0.6em;
    font-weight: 500;

}

.input-container {
    padding: 2em 0 1.8em 0;
}

input::placeholder {
    font-family: 'Poppins', sans-serif;
}

input[type="text"],
button {
    border: none;
    background: none;
    outline: none;
}

.input-container input[type="text"] {
    margin-left: 1em;
    border-bottom: 1px solid #707070;
    padding: 0.3em;
    width: 130px;
}

.input-container input:focus {
    color: #707070;
}

.input-container input::placeholder {
    font-size: 0.75em;
    color: #707070;
    margin-left: 25px;
    padding-left: 5px;
}

.waitinglist-container {
    background-color: #fff;
    padding: 0 0 0 30px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
}

.waitinglist-container input::placeholder {
    color: #000000;
    font-size: 0.85em;
}

.waitinglist-container div {
    background-color: #271AC1;
    padding: 10px 15px;
    border-radius: 25px;

}

.waitinglist-container button {

    color: #fff;
    font-size: 0.7em;
}